<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/frontend.css">
    <script src="https://kit.fontawesome.com/350205fd30.js" crossorigin="anonymous"></script>
    <title>{TITLE}</title>
</head>
<body>
    <div class="header">
        <a  href="#top" class="fas fa-home"></a>
        <a id="lol" href="#de" style="padding-left: 0px;">Německo</a>
        <a id="lol" href="#A" > Rakousko</a>
        <a id="lol" href="#Gb" >Velká Británie</a>
        <a id="lol" href="#Fr" >Francie</a>
        <a id="lol" href="#US" >Spojené státy americké</a>
        <a id="lol" href="#It" >Itálie</a>
        <a id="lol" href="#Sp" >Španělsko</a>
        <a id="lol" href="#Pr" >Portugalsko</a>
        <a id="lol" href="#Gr" >Řecko</a>
        <a id="lol" href="#Ug">Uganda</a>

    </div>
    <div id="top"></div>
    <div class="greet">
        <p>Chose a Country from the list in the header</p>
    </div>
    <div class="main">{JSEMLINEJ}</div>
    
</body>
</html>