<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/frontend.css">
    <title>{TITLE}</title>
</head>
<body>
    <div class="header">
        <a href="#top" style="padding-left: 0px;">Whats Easy Template</a>
        <a href="#howTo" > How To Use</a>
        <a href="#download" >Download</a>
    </div>
    <div class="container">
        <div id="top"></div>
        <div id="what">
            <p>{TEXT1}</p>

        </div>
        <div id="howTo">
            <p>{TEXT2}</p>

        </div>
        <div id="download">
            <p>{TEXT3}</p>

        </div>

    </div>

    
</body>
</html>